@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-R.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1b1818;
}

.header {
  background-color: #571818;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.phone,
.menu__link {
  font-size: 18px;
  line-height: 21px;
  color: #fefefe;
  text-transform: uppercase;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  margin-left: 25px;
}

.menu__link {
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: border-bottom 0.5s;
}

.menu__link--active,
.menu__link:hover {
  border-bottom: 1px solid #fefefe;
}

.intro__inner {
  padding: 65px;
}

.intro__top {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 35px;
}

.intro__slider {
  width: 50%;
}

.intro__slider-item {
  margin-bottom: 15px;
  text-align: center;
}

.intro__slider-img {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.intro__slider-text {
  font-family: "Fira Sans", sans-serif;
}

.intro__slider-text + .intro__slider-text {
  margin-left: 40px;
}

.slick-dots {
  list-style: none;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  width: 8px;
  height: 8px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  background-color: #219653;
  border: none;
  border-radius: 50%;
}

.slick-active button {
  width: 16px;
  height: 16px;
  outline: none;
}

.title {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
  color: #1b1818;
}

.title--b {
  font-size: 48px;
  line-height: 58px;
}

.title--m {
  font-size: 24px;
  line-height: 29px;
}

.title--s {
  font-size: 18px;
  line-height: 22px;
}

.intro__content {
  padding-top: 93px;
  text-align: center;
}

.intro__content-title {
  margin-bottom: 50px;
}

.intro__content-text {
  margin-bottom: 59px;
  padding: 0 50px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.btn-download {
  padding: 15px 18px 16px 19px;
  text-transform: uppercase;
  color: #fefefe;
  background-color: #219653;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s;  
}

.btn-download:hover {
  background-color: #fefefe;
  color: #219653;
  border: 1px solid #219653;
}

.intro__bottom {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.intro__bottom-links {
  display: flex;
  justify-content: center;
  width: 50%;
}

.intro__bottom-link {
  padding-bottom: 5px;
  color: #1b1818;
  border-bottom: 1px solid #1b1818;
}

.intro__bottom-link + .intro__bottom-link {
  margin-left: 20px;
}

.items {
  display: flex;
  justify-content: space-between;
}

.intro__bottom-items {
  padding: 0 45px;
  width: 50%;
}

.intro__bottom-item {
  max-width: 146px;
  width: 100%;
  min-height: 150px;
}

.item {
  text-align: center;
  border-radius: 30px;
  border: 1px solid #571818;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.5s;    
}

.item + .item {
  margin-left: 30px;
}

.item:hover {
  transform: scale(1.25);
}

.intro__bottom-img {
  margin-top: 28px;
  margin-bottom: 13px;
}

.intro__bottom-text {
  margin-bottom: 8px;
}

.rent {
  background-color: #f2f2f2;
  text-align: center;
}

.rent__inner {
  padding: 35px 172px 23px;
}

.rent__title {
  margin-bottom: 35px;
}

.rent__item {
  width: 250px;    
  padding: 30px 37px 27px 37px;  
}

.rent__item-img {
  margin-bottom: 22px;
}

.rent__item-title {  
  margin: 0 auto;
  padding-bottom: 25px;
}

.rent__item-title--br {  
  max-width: 154px;
}

.rent__btn {
  margin-top: 43px;
  margin-bottom: 16px;  
}

.advantage__inner {
  padding: 42px 0 100px;
  text-align: center;
}

.advantage__title {
  margin-bottom: 30px;
}

.advantage__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantage__list {  
  list-style: none;
  text-align: right;
}

.advantage__list-item {
  margin-bottom: 18px;
  padding-right: 56px;
  position: relative;
  
}
.advantage__list-item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #571818;
}

.advantage__list-item:nth-child(1),
.advantage__list-item:nth-child(7) {
  margin-right: 126px;
}

.advantage__list-item:nth-child(2),
.advantage__list-item:nth-child(6) {
  margin-right: 81px;
}

.advantage__list-item:nth-child(3),
.advantage__list-item:nth-child(5){
  margin-right: 36px;
}

.video-popup {
  background-color: #219653;
  text-transform: uppercase;
  color: #fefefe;
  border-radius: 30px;
  padding: 6px 34px 6px 64px;  
  text-align: center;
  display: inline-block;
  position: relative;
}

.video-popup::before{
  content: "";
  position: absolute;
  left: 34px;
  top: 12px;
  width: 25px;
  height: 25px;
  background-image: url(../images/advan_icon.svg);
}

.reviews {
  background-color: #571818;
}

.reviews__item {
  border: 1px solid #219653;
  padding: 40px 30px 50px 30px;
  width: 270px;
  height: 300px;
  margin-bottom: 58px;  
  cursor: default;
}

.reviews__item:hover {
  transform:none;
}

.reviews__inner {
  padding: 36px 0 100px;
}

.reviews__title {
  margin-bottom: 111px;  
} 

.reviews__title,
.reviews__item-title,
.reviews__item-text {
  color: #fefefe;
}

.reviews__item-title {
  margin-bottom: 47px;
}

.questions__inner {
  padding: 100px 0;
  display: flex;    
  align-items: center;
}

.questions__img {
  width: 50%;
}

.question__form {
  width: 416px;
  margin: 0 auto;
}

.questions__title {
  text-align: left;
  margin-bottom: 5px;
}

.question__text {
  margin-bottom: 30px;
}

.question__input,
.question__btn {
  display: block;  
  outline: none;
}

.question__input {
  padding: 20px 0;    
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);  
}

.question__input::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #1b1818;
}

.question__btn {
  margin-top: 50px;  
}